.fleft{float:left;}
.fright{float:right;}
.cleft{clear:left;}
.cright{clear:right;}
.cboth{clear:both;}
.txtComment{width:100%;height:100px;}
.console {
    background: #292f34;
    color: white;
    font-size: 1.0em;
    text-align: center;
}

 li {
    padding-top: 128px !important;
    padding-bottom: 128px !important;
}

#touchevents .list li:not(.anchor) {
    padding: 64px 8px;
}

#scroll h1 {
    line-height: 44px;
    background: black;
    color: white;
    text-indent: 10px;
}

#scroll img {
    min-width: 256px;
    min-height: 128px;
    background: #333;
}
#scroll .anchor img {
    width: 100%;
    margin-bottom: 4px;
}
#scroll .horizontal img {
    height: 100%;
    margin-right: 4px;
}
.centerCont {
    margin: 0 auto;
    text-align: center;
}
.rb {background: url('../images/runnerbot.png') no-repeat top left;}
.rb.sprite-901{ background-position: 0 0; width: 32px; height: 32px; } 
.rb.sprite-902{ background-position: 0 -82px; width: 32px; height: 32px; } 
.rb.sprite-903{ background-position: 0 -164px; width: 32px; height: 32px; } 
.rb.sprite-904{ background-position: 0 -246px; width: 32px; height: 32px; } 
.rb.sprite-905{ background-position: 0 -328px; width: 32px; height: 32px; } 
.rb.sprite-906{ background-position: 0 -410px; width: 32px; height: 32px; } 
.rb.sprite-907{ background-position: 0 -492px; width: 32px; height: 32px; } 
.rb.sprite-908{ background-position: 0 -574px; width: 32px; height: 32px; } 
.rb.sprite-909{ background-position: 0 -656px; width: 32px; height: 32px; } 
.rb.sprite-910{ background-position: 0 -738px; width: 32px; height: 32px; } 
.rb.sprite-911{ background-position: 0 -820px; width: 32px; height: 32px; } 
.rb.sprite-912{ background-position: 0 -902px; width: 32px; height: 32px; } 
.rb.sprite-913{ background-position: 0 -984px; width: 32px; height: 32px; } 
.rb.sprite-914{ background-position: 0 -1066px; width: 32px; height: 32px; } 
.rb.sprite-915{ background-position: 0 -1148px; width: 32px; height: 32px; } 
.rb.sprite-916{ background-position: 0 -1230px; width: 32px; height: 32px; } 
.rb.sprite-917{ background-position: 0 -1312px; width: 32px; height: 32px; } 
.rb.sprite-918{ background-position: 0 -1394px; width: 32px; height: 32px; } 
.rb.sprite-919{ background-position: 0 -1476px; width: 32px; height: 32px; } 
.rb.sprite-920{ background-position: 0 -1558px; width: 32px; height: 32px; } 

