<aside id="menu" ng-controller="AsideController">
    <header data-title="Run For Life">
        <nav class="on-right">
            <a href="#" class="buttons" data-icon="settings"></a>
        </nav>
    </header>
    <article class="active list scroll">
       <ul>
            <li ng-repeat="option in aside" data-view-section="{{option.section}}" data-icon="{{option.icon}}"
            class="{{option.class}}">
                <strong class="text bold">{{option.label}}</strong>
            </li>
        </ul>
    </article>
</aside>