<section id="config" data-transition="slide" data-aside="menu" ng-controller="">
     <header>
        <span class="title centered">CONFIGURATION</span>
        <nav class="left box">
            <a href="#" data-view-aside="menuoptions"  data-icon="menu" ></a>
        </nav>
        <nav class="on-right">
            <a href="#profile" class="rb sprite-901"></a>
        </nav>
    </header>
    <article id="config-list" class="indented">
        <form>
            <input id="regUsername" type="text" placeholder="Usuario" value="" class="round" required>
            <input id="regFirstName" type="text" placeholder="Nombre" class="round">
            <input id="regLastName" type="text" placeholder="Apellidos" class="round">
            <input id="regPeso" type="text" placeholder="Peso" value="" class="round">
            <input id="regEmail" type="text" placeholder="Email" value="" class="round">
            <select id="regGenero" >
                <option value="">Sexo</option>
                <option value="M">Hombre</option>
                <option value="W">Mujer</option>
            </select>
            
        </form>
        <ul class="centerCont">
            <li>
                <form>
                    <label class="checkbox">
                        <input type="checkbox" id="accepttc" value="accepttc" checked>
                    </label>
                    <a href="#terms" data-router="section" class="grey">Aceptar los términos</a>
                </form>
            </li>
            <li>   
                <a class="button margin-top secondary"  href="#training" data-label="Continuar"></a>
            </li>
        </ul>
    </article>
    <footer>
        <nav>
            <a href="#terms" data-router="section">Términos &amp; condiciones</a>
        </nav>
    </footer>

</section>