<!-- main section with articles -->
<section id="GameDetails" data-transition="slide" data-aside="menu" ng-controller="GameDetailsController">
    <header data-title="{{name}}">
        <nav class="left">
            <button data-view-section="back" data-icon="arrow-left"></button>
        </nav>
        <nav class="on-right"></nav>
    </header>
    <article id="GameDetails" >
        <div class="form">
            <fieldset>
                <label>{{params.gameId}}</label>
                <label>{{name}}</label>
                <label>{{description}}</label>
            </fieldset>
        </div>
    </article>
</section>