<section id="share" data-transition="slide" data-aside="menu" ng-controller="">
 <header>
    <span class="title centered">SHARE</span>
    <nav class="left box">
        <a href="#" data-view-aside="menuoptions"  data-icon="menu" ></a>
    </nav>
    <nav class="on-right">
        <a href="#profile" class="rb sprite-901"></a>
    </nav>
</header>
<article id="share-list" class="indented list scroll">
   <ul>
    <li >
        <a class="button theme" data-icon="brand twitter-2" data-view-article="twitter" data-label="Twitter"></a>
    </li>
    <li >
        <a class="button secondary" data-icon="brand facebook-2" data-view-article="facebook" data-label="Facebook"></a>
    </li>
    <li >
        <a class="button theme" data-icon="brand google-plus-2" data-view-article="googleplus" data-label="Google +"></a>
    </li>
</ul>
</article>
<article id="twitter" class="indented list scroll">
   <ul>
    <li class="centerCont"><strong>TWITTER</strong></li>
    <li >
        <textarea id="txtTwitterComment" class="txtComment">Desde que uso RunnerBot estoy hecho un figurin... #FitAndFun #Runnerbot</textarea>
    </li>
    <li >
        <a class="button secondary" data-view-article="share-list" data-label="Enviar"></a>
    </li>
</ul>
</article>
<article id="facebook" class="indented list scroll">
   <ul>
    <li class="centerCont"><strong>FACEBOOK</strong></li>
    <li >
        <textarea id="txtFacebookComment" class="txtComment">Desde que uso RunnerBot estoy hecho un figurin... #FitAndFun #Runnerbot</textarea>
    </li>
    <li >
        <a class="button secondary" data-view-article="share-list" data-label="Enviar"></a>
    </li>
</ul>
</article>
<article id="googleplus" class="indented list scroll">
   <ul>
    <li class="centerCont"><strong>GOOGLE PLUS</strong></li>
    <li >
        <textarea id="txtGooglePlusComment" class="txtComment">Desde que uso RunnerBot estoy hecho un figurin... #FitAndFun #Runnerbot</textarea>
    </li>
    <li >
        <a class="button secondary" data-view-article="share-list" data-label="Enviar"></a>
    </li>
</ul>
</article>
<footer>
    <nav>
        <a href="#terms" data-router="section">Términos &amp; condiciones</a>
    </nav>
</footer>

</section>